.btn-primary,.cancelbtn{
   background-color: Royalblue;
   padding:8px;
   cursor:pointer;
   border:none;
   margin:5px;
   color:white;
   width: 70%;
   font-family: corbel;
   font-size:20px;
   border-radius: 10px;
   transition: width 2s, height 2s, transform 2s;
} 
 .btn-primary:hover,.cancelbtn:hover{
background: navy;
border-radius: 20px;
 width: 70%;
 transform: rotate(360deg); 
    
}